__pycache__/
*.py[cod]

venv/
.env/
env/

db.sqlite3
/media/
static/

settings_local.py
.env

.vscode/
.idea/

*.log
*.pot
*.mo
*.bak
*.swp

*.docker
*.env
.dockerignore

.coverage
.tox/
.hypothesis/
.pytest_cache/

*/migrations/*
!*/migrations/__init__.py