name: Build, Push Docker Image, and Deploy with Namespaxe

on:
  push:
    branches:
      - main

jobs:
  ci_cd_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install namespaxe  # Install namespaxe tool

      - name: Set up database and run tests with coverage
        run: |
          python manage.py makemigrations
          python manage.py migrate
          coverage run --source='.' manage.py test
          coverage report
          coverage html  # Optional: Generates an HTML report

      # Step 5: Lint the code with flake8 optional
      # - name: Lint code with flake8
      #   run: |
      #     flake8 .

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.D_USERNAME }}
          password: ${{ secrets.D_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          tags: ${{ secrets.D_USERNAME }}/hooks_backend:1.1
          push: true

      - name: Namespaxe login
        env:
          NAMESPAXE_USERNAME: ${{ secrets.NAMESPAXE_USERNAME }}
          NAMESPAXE_PASSWORD: ${{ secrets.NAMESPAXE_PASSWORD }}
        run: |
          namespaxe login --username "${{ secrets.NAMESPAXE_USERNAME }}" --password "${{ secrets.NAMESPAXE_PASSWORD }}"

      - name: Get the first namespace
        id: fetch_namespace
        run: |
          response=$(namespaxe list ns --clean)
          namespace=$(echo $response | jq -r '.data[0].ns_name')
          echo "namespace=$namespace" >> $GITHUB_ENV

      - name: Install Kubernetes configuration
        run: |
          namespaxe install-k8s-config ns ${{ env.namespace }}

      - name: Install kubectl
        run: |
          curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl

      - name: Deploy the app using kubectl
        run: |
          kubectl apply -f k8s/deployment.yaml
